
.select2-selection__clear{
    font-size: 1.2em !important;
}
.select2-container--default .select2-selection--single, .select2-container--default .select2-selection--multiple {
    border: 1px solid #1E90FF !important;
    border-radius: 5px !important;
    font-size: 1.2em !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #1E90FF !important;
}
