@charset "UTF-8";
body{
	font-family: "Lato",sans-serif;
}
/*Classe para estilizar textos em geral*/
.texto {
	color: #0008C5;
	font-size: 1.5em;
	font-weight: normal;
}
/*propriedade para fixar customizar o menu lateral*/
.grid-menu {
    position: absolute;
    /*width: 100%;*/
    height: 100%;
}
nav.menu-side {
    padding-bottom: 3em;
}
.menu-side {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding-bottom: 2em;
    width: 250px;
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 100%;
    background: #428BCA;
    z-index: 200;
}
.menu-scroll {
    width: 320px;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
}
.menu-top-message {
    display: block;
    width: 250px;
    padding: 0.809em;
    margin-bottom: 0.809em;
    z-index: 200;
    background-color: #2980B9;
    text-align: center;
    padding: 0.809em;
    display: block;
    color: #fcfcfc;
    margin-bottom: 0.809em;
	height: 80px;
}
.menu-buttons {
	margin-top: 10px;
	width: 100%;
}
.menu-buttons a, .menu-buttons a:link, .menu-buttons a:visited {
	color: #FFFFFF;
	font-variant: small-caps;
	font-weight: bold;
	text-decoration: none;
}
div.item_menu{
  border: none;
  height: 40px;
  width: 250px;
}
div.item_menu:hover, div.item_menu.active {
	background-color: #2980b9;
}
div.item_menu a {
	color: #fff;
	text-decoration: none;
}

div.item_menu.active .tres {
	float: right;
	line-height:0;
	border-style: solid;
	border-color: #2980b9 #ffffff #2980b9 #2980b9;
	border-width: 20px 20px 20px 20px;
}

div.menu_text {
	float:left;
	line-height: 40px;
	margin-left: 10px;
	font-size: 12pt;
	text-transform: uppercase;
}

/*.item_menu a.active:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    border-top: 8px solid #ccc;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    margin-left: -8px;
}*/
/* backgrounds images dos itens do menu*/
.item_menu.home a{
	background-image: url(/static/img/icons/menu-home.png);
}
.item_menu.aluno a{
	background-image: url(/static/img/icons/menu-alunos.png);
}
.item_menu.professor a{
	background-image: url(/static/img/icons/menu-professores2.png);
}
.item_menu.curso a{
	background-image: url(/static/img/icons/menu-cursos.png);
}
.item_menu.turma a{
	background-image: url(/static/img/icons/menu-turmas.png);
}
.item_menu.aula a{
	background-image: url(/static/img/icons/menu-aulas.png);
}
.item_menu.nota a{
	background-image: url(/static/img/icons/menu-notas2.png);
}
/**/
.sublinhado {
	border-style: none;
	border-color: #FFF;
	border-bottom-style: solid;
	border-bottom-color: #428BCA;
	border-bottom-width: 2px;
	text-align: left;
}
/*Classes para estilizar o corpo da página*/
.main {
	margin-left: 250px !important;
	/*padding: 1.618em 3.236em;*/
    height: 100%;
    margin: auto;
}
.conteudo{
	margin: 0 20px 0 20px;
}
/*classe para destacar elemento padrão de um combobox*/
.destaque {
	color: #428BCA;
}
/*classe para afastar conteúdo para baixo da div atual*/
.abaixo{
	margin-bottom: 20px;
}
/*Classe para abaixar a div atual*/
.desce {
	margin-top: 120px
}

/*Classe para flutuar conteúdo para direita*/
.naDireita{
	text-align: right;
}
/*Classes para estilizar as tabelas do site*/
#result_list {
	text-align: center;
	border-style: solid;
	border-color: #428BCA;
    width: 100%;
}
#result_list thead tr th{
	background-color: #428BCA;
	text-align: center;
	border-style: solid;
	border-color: #428BCA;
    padding: 10px 10px 10px 10px;
	vertical-align: middle;
	display:table-cell;
}
#result_list thead, thead a, thead span {
    color: #FFF;
}
#result_list tbody tr td, tbody tr th{
	border-style: solid;
	border-color: #428BCA;
    border-width: 1.5px;
	vertical-align: middle;
    text-align: left;
    padding: 10px 10px 10px 10px;
	display:table-cell;
}
#result_list tbody .glyphicon-trash {
	text-align: center;
	color: #CC0000;
}
#result_list tbody .action-checkbox {
    padding-left: 0 0 0 0;
    text-align: center;
}
#result_list tbody a {
    color: #428BCA;
}
#result_list tbody tr:hover{
    background-color: #E8E8E8;
}
#personal_data {
	border-style: none;
    width: 100%;
}
#personal_data tbody tr td {
	font-size: 1.2em;
	padding: 10px;
}
#personal_data .even {
	background-color: #F6F6F6;
}
.box {
	border: 1px solid #428BCA;
	border-radius: 2px;
	clear: both;
	margin: 0 0 20px !important;
	padding: 0px 20px 20px 20px;
	overflow: hidden;
	width: 100%;
}
.box h3 {
	background-color: #428BCA;
	color: #FFFFFF;		
	line-height: 36px;
	margin: 0 -20px 20px -20px;
	
}
/*Classe para estlizar a célula da tabela que está em edição (tabela de lançamentos de nota)*/
.celulaEmEdicao input {
	width: 50px;
	font-size: 1.0em;
	border-width: 1px;
	border-style: solid;
	border-color: #1E90FF;
	font-variant: small-caps;
	border-radius: 5px;
}
/*Classe para colocar os cabeçalhos da tabela no sentido vertical*/
.em_pe{
	transform: rotate(90deg);
	-moz-transform: rotate(90deg);     /*Firefox*/
	-ms-transform: rotate(90deg);      /*Microsoft Internet Explorer*/
	-webkit-transform: rotate(90deg);  /*Chrome, Safari*/
	-o-transform: rotate(90deg);       /*Opera*/
	margin: 15px 0px 15px 0px;
	padding: 15px 0 15px 0;
}

/*Classe para mensagens de observações*/
.obs{
	color: #CD2626;
	text-align: right;
	width:100%;
}

/*Classes para estilizar o rodapé das páginas*/
#rodape {
	background: #428BCA;
	width:100%;
	height:30px;
	line-height: 30px;
	position: fixed;
	bottom: 0;
}
#rodape p {
	color: #FFF;
	text-align: center;
}

/*Classes para estilizar a barra superior (navbar)*/
#barra {
	border-bottom-color: #428BCA;
	/*background-color: #FFF;*/
	text-align: right;
	height: 80px;
	line-height: 80px;
    vertical-align: middle;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
}
#barra p{
	color: #428BCA;
	font-size: 1.8em;
}
#barra ul li {
	display: inline;
	list-style-type: none;
	font-weight: bold;
	color: #428BCA;
	font-size: 16pt;
}
#barra ul li a, #barra ul li a:link, #barra ul li a:visited {
	color: #428BCA;
	font-variant: small-caps;
	font-weight: bold;
	text-decoration: none;
}
#barra ul li a, #barra ul li a:hover, #barra ul li a:active {
	text-decoration: none;
	font-variant: small-caps;
	font-weight: bold;
}
/*Classe para estilizar as abas e seus conteúdos*/
.nav-tabs {
	border-bottom: 1px solid #428BCA !important;
}
.nav-tabs li a{
	background-color: #FFFFFF !important;
	border-color: #428BCA !important;
}
.nav-tabs li.active a{
	background-color: #428BCA !important;
	color: #FFF !important;
}

.nav-tabs li a{
	color: #428BCA !important;
}
.tab-content{
	margin: 10 0 0 0;
}
/*Classe para estilizar os filtros das telas do admin*/
#changelist-filter ul li{
	display: inline;
}
.filtros{
	float:left;
	margin: 0 5px 5px 0;
}
.clear{
	clear:both;
}
