{% extends 'base.html' %}
{% load mynota_filters %}

{% block title %} Detalhes turma {{turma}} {% endblock %}

{% block extrahead %}
<script src="/static/js/jQuery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}

<ul class="nav nav-tabs">
	<li class="active"><a href="#dadosCadastrais" data-toggle="tab">Dados Cadastrais</a></li>
	<li class=""><a href="#planos" data-toggle="tab">Planos de Aula</a></li>
	<li class=""><a href="#aulas" data-toggle="tab">Aulas Ministradas</a></li>
	<li class=""><a href="#notas" data-toggle="tab">Notas</a></li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
	<div class="tab-pane active" id="dadosCadastrais">
		<p>Código: {{ turma.codigo }}</p>
		<p>Curso: {{ turma.curso }}</p>
		<p>Módulos: {% for modulo in turma.curso.modulo.all %} {{modulo}} {% endfor %} </p>
		<p>Dias de aula: {% for dia in turma.dia.all %} {{dia}} {% endfor %} </p>
		<p>Professor: {{ turma.professor }} </p>
		<a href="/admin/mynota/turma/{{turma.pk}}/change/" class="addlink btn btn-primary">Alterar Dados</a>
	</div>
	<div class="tab-pane" id="planos"> 
	{% if turma.plano_aula.all %}
		<table id="result_list">
			<thead>
				<tr> <th>Turma</th> <th>Módulo</th> <th>Professor</th> <th>Data</th> <th>Conteúdo</th> <th>#</th> </tr>
			</thead>
			<tbody>
				{% for plano in turma.plano_aula.all %}
				<tr>
					<td>{{ turma }}</td>
					<td>{{ plano.modulo }}</td>
					<td>{{ plano.professor.user.first_name }} {{ plano.professor.user.last_name }}</td>
					<td>{{ plano.data|date:"d/m/Y" }}</td>
					<td>{{ plano.conteudo|linebreaksbr }}</td>
					<td style='text-align:center'><a href="/imprimir/PlanoAula/{{plano.pk}}" target="_blank"><span class="glyphicon glyphicon-print"></span></a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<div class="alert alert-info" role="alert">Turma ainda não possui aulas planejadas</div>
	{% endif %}
	</div>
	<div class="tab-pane" id="aulas">
	{% if turma.aula.all %}
		<table id="result_list">
			<thead>
				<tr> <th>Turma</th> <th>Professor</th> <th>Data</th> <th>Conteúdo</th> </tr>
			</thead>
			<tbody>
				{% for aula in turma.aula.all %}
				<tr>
					<td>{{ turma }}</td>
					<td>{{ aula.professor.user.first_name }} {{ aula.professor.user.last_name }}</td>
					<td>{{ aula.data|date:"d/m/Y" }}</td>
					<td>{{ aula.conteudo|linebreaksbr }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<div class="alert alert-info" role="alert">Turma ainda não possui aulas ministradas</div>
	{% endif %}
	</div>
	<div class="tab-pane" id="notas">
		{% if turma.aluno_set.all %}
			<table id="result_list">
				<thead>
					<tr> <th>Aluno</th>
					{% for modulo in turma.curso.modulo.all %}
						<th><label class="em_pe">{{modulo}}</label></th>
					{% endfor %}
					</tr>
				</thead>
				<tbody>
					{% for aluno in turma.aluno_set.all %}
						<tr>
							<td style="width:100%">{{ aluno }}</td>
							{% for modulo in turma.curso.modulo.all %}
								<th>{{ aluno|get_nota:modulo }}</th>
							{% endfor %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<br /><div class='naDireita'><a href="/imprimir/Turma/{{turma.pk}}" target="_blank" class="btn btn-primary"><span class="glyphicon glyphicon-print"></span> Imprimir</a></div>
		{% else %}
			<p class="alert alert-info" role="alert">Turma não possui nehum aluno matriculado</p>
		{% endif %}
	</div>
</div>

{% endblock %}